.header,
.site-header {
    display: flex;
    justify-content: space-between;
}

.logo {
    padding: 3em 0 3em 1.5em;
}

.title {
    padding: 3em 3em 3em 1em;
}

.title * {
    color: $title-color;
    font-family: Coming Soon;
}

.title h1 {
    color: $title-h1-color;
}

.title p {
    font-style: italic;
    font-family: Roboto;
    color: $title-p-color;
}

@media (max-width: 767px) {
    .title,
    .logo {
        padding: 1em 1em 1em 0;
    }

    .title {
        min-width: 50%;
    }

    .logo {
        max-width: 30%;
    }
}
