.old-fashioned {
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 2px;
    line-height: 1.5;
    font-size: 1.25rem;
}

.modern {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5;
    letter-spacing: 2px;
    font-size: 1.25rem;

}

.worst-ever {
    font-family: fantasy;
    font-weight: 900;
    color: #666;
    letter-spacing: -2px;
}

