$title-color: #008080;

$font-color: #333;
$font-alternative-color: #fff;

$accent-color: #ee6c4d;

$background-color: #fff;
$background-alternative-color: #e0fbfc;

$footer-background-color: #444;
$footer-color: rgba(255, 255, 255, 0.815);

$main-font-size: 1em;
$main-line-height: 1.45;
$magic-number: $main-font-size * $main-line-height;
