{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}

    <div class="main analyzes-container" role="main">
            {{ content }}

            {% for page in pages("analyzes") %}
                <a href = "{{ page.url }}">
                    <div class = "analyzes-box">
                        {{ page.title }}
                    </div>
                </a>
            {% endfor %}

    </div>
    
    {% include 'incl/footer.twig' %}
</body>

</html>
