{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}

    <div class="main gallery-container" role="main">
            {{ content }}
    </div>

    <div class="main video-container">
        <h1> Video </h1>
        <div class = "video-box">
            <iframe src="{{ assets_url }}/img/gallery/sea.mp4" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>

    {% include 'incl/footer.twig' %}
</body>

</html>
